* {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 16px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** general **/
body {
    background: #35084b;
}
.text-yellow {
    color: #f0ed0f;
}

.block-content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.block-content:after {
    content: '';
    display: block;
    clear: both;
}

.left-column {
    display: block;
    background: #40075a;
    width: 300px;
    float: left;
    padding: 0 20px;
}

.right-column {
    display: block;
    background: #40075a;
    width: 960px;
    float: right;
    text-align: center;
}

button, button:hover, button:active {
    outline: none;
    border: none;
}
input[type="submit"], input[type="submit"]:hover, input[type="submit"]:active {
    outline: none;
    border: none;
}
a, a:hover, a:active {
    outline: none;
    border: none;
}

img {
    display: block;
    margin: auto;
}
.img-wrap {
    position: relative;
}

ul li {
    list-style: none;
    display: inline-block;
}

/* header */
.header-top {
    background: url('../images/head_bg.png') no-repeat center;
    background-size: cover;
    margin-bottom: 5px;
}
.header-top .left-column, .header-top .right-column {
    background: none;
}
.header-top .left-column {
    padding-left: 3%;
}
.logo-link {
    display: block;
    width: 85%;
    height: 38px;
    margin-top: 25px;
}
.logo-link-mobile {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
}
.logo-link-mobile:hover, .header-top ul li a:hover, .header-links a:hover {
    text-decoration: underline;
}
.header-top h2 {
    font-size: 18px;
}
.header-top .right-column {
    padding-top: 20px;
}
.header-top ul li {
    height: 24px;
    line-height: 24px;
    vertical-align: top;
}
.header-top ul li a, .header-links a {
    text-decoration: none;
}
.header-top ul li:after {
    content: '';
    display: inline-block;
    height: 24px;
    width: 1px;
    background: #ffffff;
    vertical-align: top;
    margin: 0 5px 0 10px;
}
.header-top ul li:last-child:after {
    display: none;
}

.header-bottom {
    margin-bottom: 5px;
}
.header-links {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    height: 250px;
    border: 2px solid #573465;
    padding: 25px 40px 25px 10px;
}
.header-links a {
    display: block;
    font-size: 15px;
    font-weight: 600;
}
.header-links .social-links {
    margin-bottom: 20px;
}

.header-bottom .right-column:after {
    content: '';
    display: block;
    clear: both;
}
.header-search {
    background: #40075a;
    float: left;
    width: 70%;
    padding: 2.5% 1.5% 0;
    border-top: 3px solid #7e4f94;
    border-bottom: 3px solid #7e4f94;
    min-height: 250px;
    text-align: left;
}
.header-search p span {
    text-decoration: underline;
}
.form-search {
    display: block;
    width: 90%;
    margin: 5% auto 3%;
}
.form-search label {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
}
.form-search input[type="text"] {
    display: block;
    width: 100%;
    padding: 5px 15px;
    color: black;
}
.search-submit {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 30px;
    margin-left: 24px;
    font-weight: 600;
    background: url('../images/search.png') no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.header-image {
    float: right;
    width: 30%;
    height: 250px;
    background: #ff0000 url('../images/background.jpg') no-repeat center;
    background-size: cover;
    margin: auto;
}
.header-image img {
    width: 80%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.alphabet-search {
    display: block;
    width: 100%;
    text-align: justify;
    text-align-last: justify;
    margin-top: 30px;
}
.alphabet-search li a {
    text-transform: uppercase;
}
.alphabet-search li a:hover {
    text-decoration: none;
    color: #f0ed0f;
}
.alphabet-search:after {
    content: '';
    display: inline-block;
    width: 100%;
}
/* end of header */

/* side-bar */
.side-bar {
    padding: 0 30px;
    text-align: right;
    border: 2px solid #573465;
}
.side-bar h2 {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 30px 0 20px;
    padding-bottom: 3px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    text-align: left;
}
.side-bar h2:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: url('../images/top_artist.png') no-repeat center;
    background-size: cover;
    margin-right: 10px;
}
.side-bar h2 span {
    text-transform: lowercase;
    margin-left: 10px;
}
.side-bar ul li {
    width: 100%;
    list-style: none;
    margin-bottom: 5px;
    padding: 3px 15px 3px 40px;
    position: relative;
    text-align: left;
}
.side-bar ul li:before {
    content: '1.';
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: right;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
}
.side-bar ul li:nth-child(2):before {content: '2.';}
.side-bar ul li:nth-child(3):before {content: '3.';}
.side-bar ul li:nth-child(4):before {content: '4.';}
.side-bar ul li:nth-child(5):before {content: '5.';}
.side-bar ul li:nth-child(6):before {content: '6.';}
.side-bar ul li:nth-child(7):before {content: '7.';}
.side-bar ul li:nth-child(8):before {content: '8.';}
.side-bar ul li:nth-child(9):before {content: '9.';}
.side-bar ul li:nth-child(10):before {content: '10.';}
.side-bar ul li:nth-child(2n) {
    background: #897191;
}
.side-bar a:hover {
    text-decoration: none;
}
.side-bar .top-50 {
    display: block;
    font-size: 12px;
    text-decoration: none;
    color: #f0ed0f;
    margin: 10px 0 30px;
}
.side-bar .top-50:before {
    content: '\bb';
    display: inline-block;
    color: #ffffff;
    margin-right: 5px;
}
/* end of side-bar */

/* main-content */
.main-content {
    background: none;
    padding: 20px 0;
    text-align: left;
}
h1 {
    font-size: 20px;
}
h1:before {
    content: '\2605';
    display: inline-block;
    color: #ffffff;
    margin-right: 5px;
    padding-left: 20px;
}
.main-content h2 {
    font-size: 15px;
    margin: 15px 0;
}
.main-content h3 {
    font-size: 15px;
    font-weight: 100;
}
h3 a {
    font-size: 15px;
    font-weight: 600;
}
h3 a:hover {
    text-decoration: none;
}
.product-list {
    text-align: center;
    background: #40075a;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    margin: 30px auto;
}
.product-list ul li {
    width: 200px;
    margin: 10px;
    text-align: left;
    border: 5px solid transparent;
    padding: 0 5px 10px;
    vertical-align: top;
}
.product-list ul li:hover {
    border: 5px solid #7e4f94;
}
.product-list a:hover {
    color: #f0ed0f;
}
.product-image {
    display: block;
    width: 190px;
    height: 190px;
    margin-left: -5px;
    margin-bottom: 10px;
}
.product-image img {
    width: 100%;
    height: auto;
    max-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.main-content p {
    margin-bottom: 10px;
}
/* end of main-content */

/* footer */
.footer {
    padding: 20px 0;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
}
.copyrights, .footer-links li, .resources li, .footer-links li a, .resources li a {
    font-size: 14px;
}
.footer .copyrights, .footer-links  {
    display: inline-block;
}
.resources {
    margin-top: 10px;
}
.footer-links li:after, .resources li:after {
    content: '|';
    display: inline-block;
    margin: 0 5px 0 10px;
}
.footer-links li:last-child:after, .resources li:last-child:after {
    display: none;
}
/*end of footer */

/* author-page */
.author-page a:hover, .lyrics-page a:hover {
    text-decoration: none;
}
.author-page h1 {
    font-size: 16px;
}
.breadcrumbs li:first-child:before {
    content: '\2605';
    display: inline-block;
    color: #ffffff;
    margin-right: 5px;
}
.author-page h1:before {
    display: none;
}
.breadcrumbs li:after {
    content: '/';
    display: inline-block;
    color: #714e81;
    margin: 0 5px 0 5px;
}
.breadcrumbs li:last-child:after {
    display: none;
}
.author-albums, .author-lyrics, .author-photo {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-top: 20px;
}
.author-albums span {
    color: #714e81;
    margin-left: 5px;
}
.author-lyrics {
    margin: 20px 4% 0
}
.author-albums li, .author-lyrics li, .author-photo li {
    display: block;
    margin-bottom: 7px;
}
.author-page h2:after {
    content: '';
    display: block;
    width: 100%;
    border: 1px solid #714e81;
    margin: 10px 0 20px;
}
.author-page .show-all {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 14px;
}
.author-page p {
    padding-bottom: 10px;
}
.author-biography, .related-links {
    margin-top: 30px;
}
.related-links li {
    display: block;
    margin-top: 10px;
}
.author-photo img{
    border: 2px solid #714e81;
}
/* end of author-page */

/* lyrics page */
.lyrics-page .right-column {
    width: 300px;
    margin-top: 50px;
    background: none;
    text-align: left;
}
.lyrics-page .right-column a:hover {
    text-decoration: none;
}
.lyrics-page .right-column ul li {
    margin-bottom: 10px;
}
.lyrics-page .right-column ul li:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    background: url('../images/app.png') no-repeat center;
    background-size: cover;
}
.lyrics-page .right-column ul li:nth-child(1):before {
    background: url('../images/print.gif') no-repeat center;
    background-size: cover;
}
.breadcrumbs a, .breadcrumbs p {
    font-weight: 700;
}
.breadcrumbs span {
    font-style: italic;
}
.lyrics-page h2 {
    font-size: 18px;
}
.lyrics-page .title {
    font-weight: 700;
    margin-bottom: 30px;
}
.lyrics-page .title a {
    font-weight: 100;
    color: #c0c0c0;
    text-decoration: none;
    margin-left: 10px;
}
.lyrics-page .title a:hover {
    text-decoration: underline;
}
.lyric-text {
    padding-bottom: 5px;
}
.invisible-link {
    font-size: 12px;
    color: #35084b;
}
/* end of lyrics page */

/* media queries */
@media (max-width: 1280px) {
    * {
        font-size: 14px;
    }
    .header-links a {
        font-size: 14px;
    }
    .block-content {
        width: 98%;
        min-width: 1000px;
    }
    .left-column {
        width: 24%;
        margin-right: 2%;
    }
    .right-column {
        width: 74%;
    }
    .header-search {
        padding: 3.5% 1.5% 0;
    }
}

@media (max-width: 1180px) {
    * {
        font-size: 13px;
    }
    .header-links a {
        font-size: 13px;
    }
    .header-search {
        padding: 4.5% 1.5% 0;
    }
    .resources li {
        display: block;
    }
    .resources li:after {
        display: none;
    }
}
@media (max-width: 1080px) {
    .header-search p {
        font-size: 12px;
    }
    .header-search {
        padding: 5.5% 1.5% 0;
    }
    .header-links a {
        font-size: 12px;
    }
    h1 {font-size: 18px;}
}
